<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <h1>view the customers here</h1>
    <div th:each="customer : ${allCustomers}">
        <a th:href="@{${customer.id}}" th:text="${customer.id}"></a>
        <p th:text="${customer.firstname}"></p>
        <p th:text="${customer.lastname}"></p>
        <p th:text="${customer.phone}"></p>
        <p th:text="${customer.email}"></p>
    </div>
</body>
</html>